# code=2

In [1]:
# saeed barcha 4-3-2022
# pandas in python
# series, .type , short hand, empty series
# changing index and datatype of data values
# naming data value column
# scalar series with single and multiple value,
# creating series using dictionary

# pandas series are similar to pyton numpy array
# means pandas series it support most of the functions and methods of numpy
# slicing and advance slicing
# finding max() , min() and greater and less then values by comparing values with number

# mathematical operations on same and different data value series (+,-,*,/)

In [2]:
# importing pandas librery 
import pandas as pd

In [3]:
# pandas have three data types 
# series
# data farms mostly used
# pannel

# making series in of list in pandas

In [4]:
list1=[1,2,3,4,5.3,"good",False]
# creating series of list1 using pandas
list1_s=pd.Series(list1) # this will return the data into tow columns form 
                   # first column for index and secom=nd one for data
print(list1_s) 
# return dtype= object which means python object

0        1
1        2
2        3
3        4
4      5.3
5     good
6    False
dtype: object

# type(var_containing_series)

In [5]:
type(list1_s)
# pandas.core.series.Series : this means tha our series are actually 1D  array and particular an index for them

pandas.core.series.Series

# short hand of creating series

In [6]:
series1=pd.Series(["saeed","noor","karim","kahn","65" ,True,False ,"good" ,"well"])
print(series1)

0    saeed
1     noor
2    karim
3     kahn
4       65
5     True
6    False
7     good
8     well
dtype: object

# creating empty series

In [7]:
empty_series=pd.Series([])
print(empty_series)

Series([], dtype: float64)

<ipython-input-7-3566ecb9ed27>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_series=pd.Series([])

# changing index values

In [8]:
# indexing values should equal to data values
# is indexing values are less or gerater error occur
ser3=pd.Series([1,2,3,4], index=['a','b','c','d']) 
print(ser3)

a    1
b    2
c    3
d    4
dtype: int64

# changing datatype to float values

In [9]:
ser4=pd.Series([1,2,3,4], index=['a','b','c','d'], dtype= float) 
print(ser4)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

# changing datatype to string values

In [10]:
ser5=pd.Series([1,2,3,4], index=['a','b','c','d'], dtype= str) 
print(ser5)

a    1
b    2
c    3
d    4
dtype: object

# giving name to a data value column

In [11]:
ser6=pd.Series([1,2,3,4], index=['a','b','c','d'] , dtype=float, name="data values") 
print(ser6)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

# creating series using scalar values

In [12]:
# scalar values means single value in whole column

In [13]:
# series contains single scalar value
scalar_ser=pd.Series(0.5) # this will return a single row with two columns 
                           # first column for index and second for data value
print(scalar_ser)

0    0.5
dtype: float64

# for more the one scalar values

In [14]:
# series contains multiple scalar value
scalar_ser=pd.Series(0.5 , index=[1,2,3,4,5]) # this will return a single row with two columns 
                           # first column for index and second for data value
print(scalar_ser)

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64

In [15]:
# we can change datatype of data values as well
# series contains multiple scalar value 

scalar_ser=pd.Series(0.5 , index=[1,2,3,4,5] , dtype=int) # this will return a single row with two columns 
                           # first column for index and second for data value
print(scalar_ser)

1    0
2    0
3    0
4    0
5    0
dtype: int32

# creating series using dictionary

In [16]:
# dict contains integer value
# in dictionary case key for index and value for  data value in series
dict_ser=pd.Series({"a":1,"b":2,"c":3})
print(dict_ser)

a    1
b    2
c    3
dtype: int64

In [17]:
# dict contains str
# in dictionary case key for index and value for  data value in series
dict_str=pd.Series({"a":"abid","b":"benish","c":"calci"})
print(dict_str)

a      abid
b    benish
c     calci
dtype: object

In [18]:
#  we not have to create a variable with module name or short name of module 
# this will cause a big big errors in our code
# pd="122"
b=pd.Series([1,2,3,4], index=[0,1,2,3])
print(b)

0    1
1    2
2    3
3    4
dtype: int64

# pandas series are similar to pyton numpy array

In [19]:
# pandas series are similar to pyton numpy array
# means pandas series it support most of the functions and methods of numpy

In [20]:
# suppose we have a series
s=pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
# print the  (1) from the series s
print(s[0]) # 1 is at index 0 in the series. this is same as matrix of numpy array

1

# advance slicing in series

In [22]:
print(s[0:3]) # data values at index 3 will excluded here

0    1
1    2
2    3
dtype: int64

In [23]:
print(s[2:4]) # data values at index 3 will excluded here

2    3
3    4
dtype: int64

# to find max value in series s

In [24]:
print(max(s))

5

# to find min value in series s

# print(max(s))

# to value greater then 3 in series s

In [25]:
print(s[s>3])

3    4
4    5
dtype: int64

# to value less then 2 in series s

In [26]:
print(s[s<2])

0    1
dtype: int64

# mathematical operations (+,-,*,/, etc) on series with same data values

In [27]:
# both Series have same data values
se1=pd.Series([1,2,3,4,5,6])
se2=pd.Series([1,2,3,4,5,6])

print(se1)
print(se2)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

# adding se1 and se2 (se1+se2)

In [28]:
# adding se1 and se2
print(se1+se2)

0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64

# subtracting se2 form se1 (se1-se2)

In [29]:
print(se1-se2)

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

# multiplying se1 and se2 (se1*se2)

In [30]:
print(se1*se2)

0     1
1     4
2     9
3    16
4    25
5    36
dtype: int64

# dividing se1 by se2 (se1/se2)

In [31]:
print(se1 / se2)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
dtype: float64

# mathematical operations (+,-,*,/, etc) on series with different data values

In [32]:
mys1=pd.Series([1,2,3,4,5,6,7,])
mys2=pd.Series([1,2,3,4])

# both have differet data values
print(mys1)
print(mys2)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64

# mathematical operations on two differet data value series

# adding se1 and se2 (mys1+mys2)

In [33]:
print(mys1+mys2)
# for missing values in the perallel return nan means not a number
# we can appli all the other operations -,*,/ etc

0    2.0
1    4.0
2    6.0
3    8.0
4    NaN
5    NaN
6    NaN
dtype: float64