#  code=3

In [1]:
# saeed barcha 5-3-2022
# how to create python pandas DataFrame

# craeting empty dataframes
# creating dataframes with single column using list 
# creating dataframes with multiple column using list 
# missing value NAN
# creating dataframes with single column using dictionary 
# creating dataframes with multiple column using dictionary
# dataframe using list of containing dictionary with single column
# dataframe using list of containing dictionary with multiple column
# craeting dataframe from dictionary of series

In [2]:
# importing pandas
import pandas as pd

# creating empty dataFrame

In [3]:
# creating empty dataFrame
emt_df=pd.DataFrame()
print(emt_df)

# return empty dataframe
# columns = empty list[]
# index=empty list[]

Empty DataFrame
Columns: []
Index: []

# creating DataFrame using list with 1 column

In [4]:
lst1=['a','b','c']

# creating dataframe assigning list as argument
df1=pd.DataFrame(lst1)
print(df1)

# 0 above the a is label for that column contains a b c value

   0
0  a
1  b
2  c

# creating DataFrame using list with multiple column#

In [5]:
# for this we need to create nested list
# this dataframe contains 4 columns
lst2=[[1,2,3,4],[5,6,7,8,9],[9,10,11,12,13,14]] 
multi_col_df=pd.DataFrame(lst2)
print(multi_col_df)

   0   1   2   3     4     5
0  1   2   3   4   NaN   NaN
1  5   6   7   8   9.0   NaN
2  9  10  11  12  13.0  14.0

# NAN if elements in nested list have different number

In [6]:
# above and below the NAN value are in float form
lst3=[[1,2,3,4],[5,6,7],[9,10,11,12,13,14]] 
df_with_nan=pd.DataFrame(lst3)
print(df_with_nan)

   0   1   2     3     4     5
0  1   2   3   4.0   NaN   NaN
1  5   6   7   NaN   NaN   NaN
2  9  10  11  12.0  13.0  14.0

# creating dataframe using dictionary with single column

In [7]:
# with single column
my_dict={'Id':[11,12,13,14]} #this is dictionary which contains key value pairs

dict_df=pd.DataFrame(my_dict)
print(dict_df)

   Id
0  11
1  12
2  13
3  14

# creating dataframe using dictionary with multiple column

In [8]:
# in dictionary every key value should same in number
my_dict2={'Id':[1,2,3,4],'NAME':["saeed","karim","noor","khan"]} #this is dictionary which contains key value pairs

dict_df2=pd.DataFrame(my_dict2)
print(dict_df2)
dict_df2 #this output will show line below the heading

   Id   NAME
0   1  saeed
1   2  karim
2   3   noor
3   4   khan

   Id   NAME
0   1  saeed
1   2  karim
2   3   noor
3   4   khan

# dataframe using list of dictionary with single column

In [9]:
list_dic=[{'a':1},{'a':3}]
lis_dic_df=pd.DataFrame(list_dic)
print(lis_dic_df)

   a
0  1
1  3

# dataframe using list of dictionary with multiple column

In [10]:
list_dic1=[{'a':1,'b':2},{'a':3,'b':4}]
lis_dic_df1=pd.DataFrame(list_dic1)
print(lis_dic_df1)

   a  b
0  1  2
1  3  4

# craeting dataframe from dictionary of series

In [11]:
# dictionary containing series as a value
dict_ser={'id':pd.Series([1,2,3,4]) ,'name':pd.Series(["saeed","hussain","barcha","rahimabadi",])}
df_dic_series=pd.DataFrame(dict_ser)
print(df_dic_series)

   id        name
0   1       saeed
1   2     hussain
2   3      barcha
3   4  rahimabadi