# code=10

In [1]:
# saeed barcha 04-03-2022
# string operations,comparison and information
# this is all about string datatype
# .add(),lower(),upper(),center()/replace empty space with any single character
# split(), splitlines(), join(), repalce()

# string champarision
# equal(), count(),find()

In [2]:
import numpy as np

# suppose i have two strings

In [3]:
# suppose i have two strings and i have to persorm several functions on this string

str1="my name is Saeed Barcha"
str2="HUSSAIN is my last name."

# np.char.add(str1,str2,..)

In [4]:
# np.char.add(str1,str2,..) this function is use to concate tow or more strings
my_add=np.char.add(str1,str2)
np.char.add(str1,str2) #this function will return numpy array
# print(my_add)

array('my name is Saeed BarchaHUSSAIN is my last name.', dtype='<U47')

# np.char.lower(str1)

In [5]:
# np.char.lower(str1) this function is use to convert any string in to lower case
np.char.lower(str1)

array('my name is saeed barcha', dtype='<U23')

# np.char.upper(str2)

In [6]:
# np.char.upper(str2) this function is use to convert any string in to upper case
np.char.lower(str2)

array('hussain is my last name.', dtype='<U24')

# np.char.center(str, number_os_space_available)

In [7]:
# np.char.center(str, number_os_space_available) to align any string in center
np.char.center(str1,50)

array('             my name is Saeed Barcha              ', dtype='<U50')

# to fill empty space withe some thing  np.char.center(str2, space_int ,empty_replase_with)

In [8]:
# this function is use to center any string in a given space any to fill empty space with some string or any other thing

b1=np.char.center("saeed",40 ,"*")  #both are same
b2=np.char.center("saeed",40 ,fillchar="*")

print(b1)
print(b2)


hus="hussian"
# np.char.center(hus,40 ,"*%*") #fill character can only takes one charcter
# np.char.center(hus,40 ,"*saeed") #fill character can only takes one charcter
np.char.center(hus,40 ,"%")

*****************saeed******************
*****************saeed******************

array('%%%%%%%%%%%%%%%%hussian%%%%%%%%%%%%%%%%%', dtype='<U40')

# np.char.split(name_of_str)

In [9]:
# this function is use to split/convert any string into an array which contains list.
# every single word in a string is consider as an element in an array
np.char.split(str1)

array(list(['my', 'name', 'is', 'Saeed', 'Barcha']), dtype=object)

# np.char.splitlines(name_of_str)

In [10]:
# this mathod will split a string from \n areas in to any array containing list 
mystr="saeed barcha \n rahim abad \n nooo this is not good \n yes you are rigth"
np.char.splitlines(mystr)

array(list(['saeed barcha ', ' rahim abad ', ' nooo this is not good ', ' yes you are rigth']),
      dtype=object)

# np.char.join("join_material" , string_name)

In [11]:
# this method is use to join something with every element in a string.
time1="235"
lookt=np.char.join(":",time1)
print(lookt)
# to join tow strings at a time
d1="dmy" # i want to add collens : with this string eg, d:m:y
d2="dmy" # i want to add forward slash / with this string eg, d/m/y
dmy=np.char.join([":" ,"/"] ,[d1 ,d2])
print(dmy)

2:3:5
['d:m:y' 'd/m/y']

# np.char.repalce(name_of_str, "existing_word", "replace_with" )

In [12]:
# this method is use to replace a single character or more then one character from a string
np.char.replace(str1 ,"Saeed" ,"Sari  Abbas") # if the char or string is not availabe this will return the existing string as it is

array('my name is Sari  Abbas Barcha', dtype='<U29')

# comparision in a string in numpy

# np.char.equal(str1,str2)

In [13]:
# this function is use to check wether tow strings are equal to each other not 
# if equal return true 
# if not equal return false
n1="sari"
n2="sari"
first=np.char.equal(n1,n2)
print(first)

n3="sari"
n4="saeed"
np.char.equal(n3,n4)

True

array(False)

# string infromation method

# np.char.count(str,"value_to_count")

In [14]:
# this np.char.count(str,"val") is use to count a single charat=cter of a word in a string

# counting empty spaces
mystr1="my name is Saeed Barcha HUSSAIN is my last name."
empty_val=np.char.count(mystr1 ," ") #to count empyt spaces from string
print("number of empty spaces:",empty_val)

# counting character small a from mystr1
num_a=np.char.count(mystr1 ,"a") #to count empyt spaces from string
print("number of a:",num_a)

# counting (capital S and small a)jointy from mystr1
num_sa=np.char.count(mystr1 ,"Sa") #to count empyt spaces from string
print("number of Sa:",num_sa)

# counting name word from mystr1
name=np.char.count(mystr1 ,"name") #to count empyt spaces from string
print("number of name:",name)

number of empty spaces: 9
number of a: 6
number of Sa: 1
number of name: 2

# np.char.find(str,"val_to_find")

In [15]:
# this method is use to find wether any character of word is preset in a string or not
# return index number
mystr1="my name is Saeed Barcha HUSSAIN is my last name."

# finding i
find_i=np.char.find(mystr1,"i")
print("i is at index:",find_i)

# finding HUSSAIN
find_HUSSAIN=np.char.find(mystr1,"HUSSAIN")
print("HUSSAIN is at index:",find_HUSSAIN)

# if not present return -1
find_z=np.char.find(mystr1,"Z")
print("Z is at index:",find_z ," :Z is not present thats way return -1")

i is at index: 8
HUSSAIN is at index: 24
Z is at index: -1  :Z is not present thats way return -1