# code3

In [ ]:
# saeed barcha 03-03-2022 12:25 am
# .ones() matrix, .zeros() matrix and .empty() matrix with there sub functions

In [1]:
# import numpy
import numpy as np

In [2]:
# creating ones matrix (ones matrix means all the entries are 1's in an array)

# traditional way
mx_1s=np.array([[1,1,1],[1,1,1],[1,1,1]]) # suppose i need a matrix of 100*100 then this method is not suitable  
print(mx_1s)

[[1 1 1]
 [1 1 1]
 [1 1 1]]

# **** Ones matrix  *****

In [3]:
# ********************** Ones matrix ****************************

# suppose i want to create an array with single row and 5 columns 
# .ones() function takes atleast single argument which refers to number of columns in an array
arr_1s=np.ones(5)
print(arr_1s) #this will assign float value 1. to array by default

# to check the datatype of entries of array
print(arr_1s.dtype) #return float64 , datatype is float and representend in 64 bit form

[1. 1. 1. 1. 1.]
float64

In [4]:
# to print ones matrix with multiple rows and columns
# for 2D or 3D numpy ones array 
# .ones() functions takes tuple as argument with two elements
mx_1s=np.ones((3 , 4))
print(mx_1s)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [5]:
# to convert default float value into int
# we need to pass tuple inside ones function with two values and after commas set dtype=int
mx_1s=np.ones((3,4) , dtype=int)
print(mx_1s)

[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

In [6]:
# to convert into string
# we need to pass tuple inside ones function with two values and after commas set dtype=str

mx_1s=np.ones((2,4) , dtype=str)
print(mx_1s)

[['1' '1' '1' '1']
 ['1' '1' '1' '1']]

In [7]:
# to convert into bool
# we need to pass tuple inside ones function with two values and after commas set dtype=bool

mx_1s=np.ones((2,4) , dtype=bool)
print(mx_1s)

[[ True  True  True  True]
 [ True  True  True  True]]

# **** Zeros matrix ****

In [8]:


# ********************** Zeros matrix ****************************
# for single row and multiple column 1D
mx_0s=np.zeros(5,)
mx_0s=np.zeros(5)

print(mx_0s)

print(type(mx_0s))
print(mx_0s.dtype)

[0. 0. 0. 0. 0.]
<class 'numpy.ndarray'>
float64

In [9]:
# for multiple row and  column 2D
# elements default value is float64
mx_0s=np.zeros((3,4))
print(mx_0s)

print(type(mx_0s))
print(mx_0s.ndim)
print(mx_0s.dtype)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
<class 'numpy.ndarray'>
2
float64

In [10]:
# converting dtype to int
mx_0s=np.zeros((3,4) ,dtype=int)
print(mx_0s)

print(type(mx_0s))
print(mx_0s.ndim)
print(mx_0s.dtype)

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]
<class 'numpy.ndarray'>
2
int32

In [11]:
# converting dtype to bool
mx_0s=np.zeros((3,4) ,dtype=bool)
print(mx_0s)

print(type(mx_0s))
print(mx_0s.ndim)
print(mx_0s.dtype)

[[False False False False]
 [False False False False]
 [False False False False]]
<class 'numpy.ndarray'>
2
bool

In [12]:
# converting dtype to str (string)
# this will return an empty space, 0 , 0. and false all are equal to an empty space string     in python
mx_0s=np.zeros((3,4) ,dtype=str)
print(mx_0s)

print(type(mx_0s))
print(mx_0s.ndim)
print(mx_0s.dtype)

[['' '' '' '']
 ['' '' '' '']
 ['' '' '' '']]
<class 'numpy.ndarray'>
2
<U1

In [13]:
# prof of the above logic
mystr="" # an empty string
print(bool(mystr))

ustr=" " # anything inside string returns true when convert it into bool
print(bool(ustr))

utr="sds" # anything inside string returns true when convert it into bool
print(bool(utr))

False
True
True

# *** empty matrix in python ***

In [14]:
#******* empty matrix in python **************
# this will return random numbers when row and columns are same in number
mx_em=np.empty((5,5))
print(mx_em)

[[6.23042070e-307 1.33512241e-307 1.69118515e-306 1.69119330e-306
  6.23059386e-307]
 [1.11260483e-306 1.24610383e-306 1.69118108e-306 8.06632139e-308
  1.20160711e-306]
 [1.69119330e-306 1.29062229e-306 1.60217812e-306 1.37961370e-306
  1.11260348e-306]
 [9.34600963e-307 7.56602523e-307 8.34451079e-308 1.33508761e-307
  1.33511562e-306]
 [8.90103560e-307 1.42410974e-306 1.00132228e-307 1.33511969e-306
  2.18568966e-312]]

In [15]:
# empty matrix in python 
# this will return 0.  when row and columns are not same in number
mx_em=np.empty((3,5))
print(mx_em)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]