# code4

In [1]:
# saeed barcha 03-03-2022 
# .arange(), .linspace(), reshape() into 2 and 3D, ravel(), flatten()
# short hand of declaring and reshaping array

In [2]:
# importing numpy 
import numpy as np

# ***arange() function ***

In [3]:
# arange()
# to create an array contains values in asending order from 1 to 13
#  arange(start,end,steps/skips) takes three argumrnts 
                          #start => to start range value 
                          #end   => to end range value  
                          #steps   =>this is not compulsory 
ar_1d=np.arange(1,13)    #13 is excluded here
print(ar_1d)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [4]:
# to create an array contains even values from 1 to 13

even_1d=np.arange(1,13,2) #print numbers by sikping single value
print(even_1d) #skipe a single number

even_1d=np.arange(1,13,3) #print numbers by sikping single value
print(even_1d) #skipe a single number

[ 1  3  5  7  9 11]
[ 1  4  7 10]

# **** linspace()  ****

In [5]:
# linspace() 
# function will make a numbers between tow numbers by equally dividins them
# suppose i want to make 4 numbers between 1 to 5 by equally dividing them

ls_1d=np.linspace(1,5,4)
print(ls_1d)

[1.         2.33333333 3.66666667 5.        ]

# *** reshape(row,coloumn)  in to 2D ***

In [6]:
# reshape(row,coloumn)  in to 2D
# sum of row and columns should equal to the same existing array
# this function is used to reshape the matrix 
# convert rows and columns
li_1d=np.arange(1,13)
print(li_1d)

# reshaping 1D into 2D
myA=li_1d.reshape(3,4) #create 3 rows and 4 columns
print(myA)

# reshaping 1D into 2D
myA=li_1d.reshape(4,3) #create 4 rows and 3 columns
print(myA)

[ 1  2  3  4  5  6  7  8  9 10 11 12]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

# *** reshape(number-of-inside-array, row, coloumn)  in to 3D ***

In [7]:
# * reshape(3d-number, row, coloumn) in to 3D

ar_1d=np.arange(1,21)
print(ar_1d)

# reshaping into 3D
my_3d=ar_1d.reshape(2,5,2)
print(my_3d)

# reshaping into 3D
my_3d=ar_1d.reshape(2,2,5)
print(my_3d)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[[[ 1  2]
  [ 3  4]
  [ 5  6]
  [ 7  8]
  [ 9 10]]

 [[11 12]
  [13 14]
  [15 16]
  [17 18]
  [19 20]]]
[[[ 1  2  3  4  5]
  [ 6  7  8  9 10]]

 [[11 12 13 14 15]
  [16 17 18 19 20]]]

# short-hand of declaring and reshapimg

In [8]:
# 1d to 2D => short hand
arr_1d_to_2d=np.arange(1,17).reshape(2,8)
print(arr_1d_to_2d)

[[ 1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16]]

In [9]:
# 1d to 3D => short hand
arr_1d_to_3d=np.arange(1,17).reshape(2,2,4)
print(arr_1d_to_3d)

[[[ 1  2  3  4]
  [ 5  6  7  8]]

 [[ 9 10 11 12]
  [13 14 15 16]]]

# **** ravel(name-of-array) function ****

In [10]:
# ravel() function
# converts multi-dimention array into 1D
my_arr=np.arange(1,10).reshape(3,3,1)
print(my_arr)

my_arr=np.arange(1,10).reshape(3,1,3)
print(my_arr)

# ravel function
my_ravel_arr=my_arr.ravel()
print(my_ravel_arr)

[[[1]
  [2]
  [3]]

 [[4]
  [5]
  [6]]

 [[7]
  [8]
  [9]]]
[[[1 2 3]]

 [[4 5 6]]

 [[7 8 9]]]
[1 2 3 4 5 6 7 8 9]

# **** .flatten() function ****

In [11]:
# this function also convert multi-dimention array into one dimention array
# ravel function

my_arr=np.arange(1,10).reshape(3,1,3)
print(my_arr)

my_flatten_arr=my_arr.ravel()
print(my_flatten_arr)

[[[1 2 3]]

 [[4 5 6]]

 [[7 8 9]]]
[1 2 3 4 5 6 7 8 9]

# *** .transpose() or capital T***

In [12]:
# to take transpose of the matrix
# transpose means converting rows into columns and columns in to rows
my_arr=np.arange(1,10).reshape(3,3,1)
print(my_arr)

my_transpose=my_arr.transpose()
print("transpose")
print(my_transpose)

# through capital T
my_art=np.arange(1,17).reshape(2,1,8)
print(my_art)

my_t=my_art.T
print("transpose")
print(my_t)

[[[1]
  [2]
  [3]]

 [[4]
  [5]
  [6]]

 [[7]
  [8]
  [9]]]
transpose
[[[1 4 7]
  [2 5 8]
  [3 6 9]]]
[[[ 1  2  3  4  5  6  7  8]]

 [[ 9 10 11 12 13 14 15 16]]]
transpose
[[[ 1  9]]

 [[ 2 10]]

 [[ 3 11]]

 [[ 4 12]]

 [[ 5 13]]

 [[ 6 14]]

 [[ 7 15]]

 [[ 8 16]]]