# code=7

In [1]:
# saeed barcha 33-03-2022
# conctination ,vstack hstack and splict functions 
# while concatening sides should equal

In [2]:
import numpy as np

In [3]:
# suppose we have tow matrix
# matrix 1
mx1=np.arange(1,17).reshape(4,4)
print(mx1)

# matrix 2
mx2=np.arange(17,33).reshape(4,4)
print(mx2)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]
[[17 18 19 20]
 [21 22 23 24]
 [25 26 27 28]
 [29 30 31 32]]

In [4]:
# suppose i wank to concatinate them horizontally
print(mx1+mx2) # this will add the matries element wise
               # not concatenate them
    
    
# this mathod works on lists not on arrays
# eg now this will concatinate the bothe lists
li1=[1,2,3,4]
li2=[5,66,77]

print(li1+li2)

[[18 20 22 24]
 [26 28 30 32]
 [34 36 38 40]
 [42 44 46 48]]
[1, 2, 3, 4, 5, 66, 77]

# column wise concatination using axis=0 argument

In [5]:

row_concate=np.concatenate((mx1,mx2)) #axis=0 by default
print(row_concate)

row_concate=np.concatenate((mx1,mx2) ,axis=0) #axis=0 by default
print(row_concate)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]
 [17 18 19 20]
 [21 22 23 24]
 [25 26 27 28]
 [29 30 31 32]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]
 [17 18 19 20]
 [21 22 23 24]
 [25 26 27 28]
 [29 30 31 32]]

# row wise concatination using axis=1 argument

In [6]:

col_concate=np.concatenate((mx1,mx2), axis=1) #axis=0 by default
print(col_concate)

[[ 1  2  3  4 17 18 19 20]
 [ 5  6  7  8 21 22 23 24]
 [ 9 10 11 12 25 26 27 28]
 [13 14 15 16 29 30 31 32]]

# vstack().. row wise concatination vstack() function

In [7]:
vstack_mx=np.vstack((mx1,mx2))
print(vstack_mx)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]
 [17 18 19 20]
 [21 22 23 24]
 [25 26 27 28]
 [29 30 31 32]]

# hstack().. column wise concatination hstack() function

In [8]:
hstack_mx=np.hstack((mx1,mx2))
print(hstack_mx)

[[ 1  2  3  4 17 18 19 20]
 [ 5  6  7  8 21 22 23 24]
 [ 9 10 11 12 25 26 27 28]
 [13 14 15 16 29 30 31 32]]

# concetenating multiple arrays

In [9]:
# column-wise
hstack_mx=np.hstack((mx1,mx2,mx1,mx2))
print(hstack_mx)

# row-wise
vstack_mx=np.vstack((mx1,mx2,mx1,mx2))
print(vstack_mx)

[[ 1  2  3  4 17 18 19 20  1  2  3  4 17 18 19 20]
 [ 5  6  7  8 21 22 23 24  5  6  7  8 21 22 23 24]
 [ 9 10 11 12 25 26 27 28  9 10 11 12 25 26 27 28]
 [13 14 15 16 29 30 31 32 13 14 15 16 29 30 31 32]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]
 [17 18 19 20]
 [21 22 23 24]
 [25 26 27 28]
 [29 30 31 32]
 [ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]
 [17 18 19 20]
 [21 22 23 24]
 [25 26 27 28]
 [29 30 31 32]]

# concatening sides should equal

In [10]:
# 2*3 and 3*3 will concate row wise not column wise if we do this will bring error
# 2*3 and 2*5 will concate column wise not row wise if we do this will bring error

arr1=np.arange(1,7).reshape(2,3)
print(arr1)
arr2=np.arange(1,10).reshape(3,3)
print(arr2)

my_arr=np.vstack((arr1,arr2))
print(my_arr)

[[1 2 3]
 [4 5 6]]
[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 2 3]
 [4 5 6]
 [1 2 3]
 [4 5 6]
 [7 8 9]]

# split function

In [11]:
# break down matrix row-wise and column-wise 
# .split() function will return list which contains numpy array as an elemnts

In [12]:
big_arr=np.arange(1,17).reshape(4,4)
print(big_arr)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

# split big_arr row-wise

In [13]:
# split function takes three argumrnts 
# => first one name of the matrix we want to split
# => second number of break-downs splits 
     # the break down should equal to the original matrix
# => row or column wise

row_wise=np.split(big_arr,2)
# row_wise=np.split(big_arr,2 ,axis=0) #default

print(row_wise)
print(row_wise[0])
print(row_wise[1])

[array([[1, 2, 3, 4],
       [5, 6, 7, 8]]), array([[ 9, 10, 11, 12],
       [13, 14, 15, 16]])]
[[1 2 3 4]
 [5 6 7 8]]
[[ 9 10 11 12]
 [13 14 15 16]]

# split big_arr column-wise

In [15]:
col_wise=np.split(big_arr, 2 , axis=1)

print(col_wise)
print(col_wise[0])
print(col_wise[1])

[array([[ 1,  2],
       [ 5,  6],
       [ 9, 10],
       [13, 14]]), array([[ 3,  4],
       [ 7,  8],
       [11, 12],
       [15, 16]])]
[[ 1  2]
 [ 5  6]
 [ 9 10]
 [13 14]]
[[ 3  4]
 [ 7  8]
 [11 12]
 [15 16]]

# split 1D array

In [19]:
# split 1D array
d1=np.array([1,3,4,6,30,3])
# soppose i want to split this array in to 3 different parts

                           # 1=> first split part will contain values till index 0 index 1 will excluded
                           # 4=> this will split values from index 1 to excluding index 4
a=np.split(d1, [1, 3 ,4])  # 4=> ........ so on
print(a)

[array([1]), array([3, 4]), array([6]), array([30,  3])]