# code=9

In [1]:
# saeed barcha 33-03-2022
# random and numpy module
# creating array with random sinsle value
# creating 2D 3*3 array  with random value
# creating 3D  array  with random value
# functions .seed(), .rand(),.randn(), .randint(), 
# .choice() for getting any random value from list
# .permutation(name fo list) .for shuffling list

In [2]:
import numpy as np
import random

In [3]:
# creating numpy array which contains single value generating random value between 0 and 1
np.random.random(1) # genetate a value between 0 and 1 .. 1 is excluded

array([0.31878809])

# creating 3*3 matrix with random values

In [4]:
np.random.random((3,3)) # return float value

array([[0.05880262, 0.67906297, 0.16835356],
       [0.32199002, 0.24045917, 0.93282237],
       [0.07804952, 0.79370982, 0.69803213]])

In [5]:
# 2D array with random values
np.random.randint(1,4,(3,3)) # return int value 
# 1 and 4 values are starting and ending values and (3,3) in number of columns and rows

array([[2, 2, 1],
       [1, 1, 1],
       [2, 1, 2]])

# 3D array with random values

In [6]:
# 2D array with random values
np.random.randint(1,4,(2,3,3)) # return int value 
# 1 and 4 values are starting and ending values and (2,3,3) 2 is inside arrays 3D in number of columns and rows

array([[[3, 1, 1],
        [3, 2, 1],
        [3, 3, 2]],

       [[1, 2, 1],
        [3, 1, 2],
        [1, 3, 2]]])

# .seed(10)

In [7]:
# .seed(10) this function is use to get same values from a random function on different executions
np.random.seed(10)
np.random.randint(1,4,(2,4,4))

array([[[2, 2, 1, 1],
        [2, 1, 2, 2],
        [1, 2, 2, 3],
        [1, 2, 1, 3]],

       [[1, 3, 1, 1],
        [1, 3, 1, 3],
        [3, 2, 1, 1],
        [3, 2, 3, 2]]])

In [8]:
# same values returen by above function
np.random.seed(10)
np.random.randint(1,4,(2,4,4))

array([[[2, 2, 1, 1],
        [2, 1, 2, 2],
        [1, 2, 2, 3],
        [1, 2, 1, 3]],

       [[1, 3, 1, 1],
        [1, 3, 1, 3],
        [3, 2, 1, 1],
        [3, 2, 3, 2]]])

# .rand(3)  this function will generate numbers between 0 and 3

In [9]:
np.random.rand(3) # 1row 3 cols

array([0.13145815, 0.41366737, 0.77872881])

In [10]:
# genetating 3*3 with random value

In [11]:
np.random.rand(3,3)

array([[0.58390137, 0.18263144, 0.82608225],
       [0.10540183, 0.28357668, 0.06556327],
       [0.05644419, 0.76545582, 0.01178803]])

# .randn()

In [12]:
# .randn() will generate negative and positive values
# we can make 1D array using .rand() function
# this will only return values between 0 and 1
np.random.randn(3)

array([-1.58494101,  1.05535316, -1.92657911])

In [13]:
# .randn() will generate negative and positive values
np.random.randn(3,4)

array([[ 0.69858388, -0.74620143, -0.15662666, -0.19363594],
       [ 1.13912535,  0.36221796, -0.59091299,  0.38936304],
       [-0.52699615, -0.51430791,  0.89760917,  0.98925209]])

# list  .choice() in python and printing any single value

In [14]:
mylist=[2,4,33,23,43,27,8]
np.random.choice(mylist)

2

# permutation /shufalling list values

In [15]:
# permutation on list
mylist=[2,4,33,23,43,27,8]
np.random.permutation(mylist)

array([ 4, 23,  8, 43, 33,  2, 27])

In [16]:
np.random.permutation(mylist)

array([23, 33, 27,  8,  4,  2, 43])

In [17]:
np.random.permutation(mylist)

array([ 8,  2, 43, 23,  4, 27, 33])